:root {
  --theme1: #76ffff;
  --theme2: #ec7133;
  --theme3: #7d0e00;
  --theme4: #fddfc9;
}

hr {
  color: white;
}

.bg-custom {
  background-image: linear-gradient(-45deg, var(--theme4), white);
}

.btn-custom {
  background-color: var(--theme1);
  transition: 0.3s;
}

.btn-custom:hover {
  transform: scale(1.2) rotate(3deg);
}

.text-custom {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.text-custom:hover {
  color: var(--theme1);
}
